.head{
    background-color: #395ca9;
    width: 700px;
    height:100px;
    font-size: 300%;
}
.doo{
    background-color: #e6e8eb;
    width: 700px;
    height:800px;
    font-size: 300%;
}
.in{
    background-color: white;
    width: 600px;
    height:200px;
    margin: 40px;
}