.head{
    background-color: #f6f6f6;
    width: 700px;
    height: 1200px;
    font-size: 300%;
}
.img
{
    border: 2px solid black;
    border-radius: 50%;
    margin: 20px;
}
.button{
    background-color: #1f7fda;
    width: 200px;
    height: 70px;
    font-weight:bold;
    font-size: 40px;
    color: white;
    margin: 20px;
    padding: 5px 5px 5px 70px;
    border-radius: 4px;
}