<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/face.css"/>
    </head>
    <body>
        <div class="head" style="color:white">
            Hello,choi do gun?
        </div>
        <div class="doo">
            try to facebook color  
            <div class="in">
                <div  style="font-weight: bold;">
                    park
                </div>
                <div>
                    Look at the Worldcup in SBS!
                </div>
            </div>
            <div class="in">
                <div  style="font-weight: bold;">
                    an
                </div>
                <div>
                    Is MBC...
                </div>
            </div>
            <div class="in">
                <div  style="font-weight: bold;">
                    Lee
                </div>
                <div>
                    KBS is best of the best..
                </div>
            </div>
        </div>
    </body>
</html>