<html>
    <head>
        <div>
            <link rel="stylesheet" href="/css/test3.css"/>
        </div>
    </head>
    <body>
        <form action="result" method="post">
            <div class="dd">
                <label for="ID">ID:</label>
                <input type="text" id="ID" name="ID" />
            </div>
            <div class="dd">
                <label for="password">password:</label>
                <input type="password" id="password" name="password" />
            </div>
            <div class="dd">
                <br/>
                <button class="button" type="submit">login</button>
            </div>
        </form>
    </body>
</html>