<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    </head>
    <body>
        <div class="main">
            balance game!!!
        </div>
        <form  method="post" action="/select">
        <label for="bon">
        <div class="north" style="color:white">
            root 1
        </div>
        </label>
        <label for="aon">
        <div class='south' style="color:white">
            root 2
        </div>
        </label>
        <input type="radio" id="bon" name="eman" value="1">
        <input type="radio" id="aon" name="eman" value="2">
        <input type="submit" name="ok">
        </form>
       </body>
</html>
