<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    </head>
    <body>
        <div class="main">
            balance game!!!
        </div>
        <form  method="post" action="/select">
        <div class="north" style="color:white">
            red
        </div>
        <div class='south' style="color:white">
            blue
        </div>
        <input type="text" name="eman" class="hidden"/>
        </form>
        <script src="/js/select.js"></script>
       </body>
</html>
